<div class="status" >
  <h2>Start</h2>
  <% if task.status == 'start' %>
    <h2 data-task-id="0" draggable="true"><%= task.name %></h2>
  <% end %>
</div>

<div class="status">
  <h2>Progress</h2>
  <% if task.status == 'progress' %>
    <h2 data-task-id="1" draggable="true"><%= task.name %></h2>
  <% end %>
</div>

<div class="status">
  <h2>Done</h2>
  <% if task.status == 'done' %>
    <h2 data-task-id="2" draggable="true"><%= task.name %></h2>
  <% end %>
</div>