<!--<div data-drag-and-drop-target="container" class="task__status">-->
<!--  <div class="status" id="0" >-->
<!--    <h2>Start</h2>-->
<!--      <div data-drag-and-drop-target="item" data-task-id="<%#= task.id %>" data-task-status="start">-->
        <%#= task.name if task.status == 'start' %>
<!--      </div>-->
<!--  </div>-->
<!--  <div class="status" id="1">-->
<!--    <h2>Progress</h2>-->

<!--    <div data-drag-and-drop-target="item" data-task-id="<%#= task.id %>" data-task-status="start">-->
      <%#= task.name if task.status == 'progress' %>
<!--    </div>-->

<!--  </div>-->

<!--  <div class="status" id="2">-->
<!--    <h2>Done</h2>-->
<!--    <div data-drag-and-drop-target="item" data-task-id="<%#= task.id %>" data-task-status="start">-->
      <%#= task.name if task.status == 'done' %>
<!--    </div>-->
<!--  </div>-->



<!--  <div class="status start" data-drag-and-drop-target="item" data-task-status="start" data-task-id="0">-->
<!--    <h2><%#= task.name %></h2>-->
<!--  </div>-->
<!--  <div class="status progress" data-drag-and-drop-target="item" data-task-status="progress" data-task-id="1">-->
<!--    <h2><%#= task.name %></h2>-->
<!--  </div>-->
<!--  <div class="status done" data-drag-and-drop-target="item" data-task-status="done" data-task-id="2">-->
<!--    <h2><%#= task.name %></h2>-->
<!--  </div>-->
<!--</div>-->
